name: custom_sliding_segmented_control
description: A new Flutter package project.
version: 0.0.1
homepage: https://github.com/hadukin/custom_sliding_segmented_control
repository: https://github.com/hadukin/custom_sliding_segmented_control

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
