name: custom_sliding_segmented_control
description: Allows you to flexibly configure the widget for displaying controls. You can add color, speed, size, initial value, animation and more.
version: 1.6.1
homepage: https://github.com/hadukin/custom_sliding_segmented_control
repository: https://github.com/hadukin/custom_sliding_segmented_control

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^1.8.1

flutter:
